.person-card {
  margin-bottom: 10px;
}

.example-full-width {
  width: 100%;
}

.half-width {
  width: 47%;

  &:first-child {
    margin-right: auto;
  }
}

.form {
  padding-bottom: 250px;
}

.row {
  display: flex;
  margin-bottom: 10px;
  width: 100%;
}
