<div class="main-section">
	<form (ngSubmit)="save()" #updateForm="ngForm">
		<md-input-container class="example-full-width">
			<input mdInput type="text" name="edit-name" [(ngModel)]="course.name" placeholder="Nome">
		</md-input-container>
		<md-input-container>
			<input name="startDate" mdInput [mdDatepicker]="startDatePicker" placeholder="Date de início" [(ngModel)]="course.startDate" #startDate="ngModel" required>
			<button mdSuffix [mdDatepickerToggle]="startDatePicker"></button>
			<md-datepicker #startDatePicker></md-datepicker>
			<md-error>Campo obrigatório</md-error>
		</md-input-container>
		<md-input-container>
			<input name="endDate" mdInput [mdDatepicker]="endDatePicker" placeholder="Date de término" [(ngModel)]="course.endDate" #endDate="ngModel">
			<button mdSuffix [mdDatepickerToggle]="endDatePicker"></button>
			<md-datepicker #endDatePicker></md-datepicker>
		</md-input-container>
		<md-input-container class="example-full-width">
			<input mdInput type="text" name="edit-place" [(ngModel)]="course.place" placeholder="Local">
		</md-input-container>
		<md-input-container class="example-full-width">
			<input mdInput type="text" name="edit-description" [(ngModel)]="course.description" placeholder="Descrição">
		</md-input-container>

		<hr />
		<md-select multiple class="select-container" placeholder="Selecione os beneficiarios" [(ngModel)]="selectedValue" name="edit-beneficiaries" (change)="pushBeneficiarie()" >
			<md-option *ngFor="let beneficiarie of beneficiaries" [value]="beneficiarie">
				{{beneficiarie.name}}
			</md-option>
		</md-select>

		<hr />
		<h4>Beneficiários</h4>
		<p *ngFor="let beneficiarie of course.beneficiaries">{{beneficiarie.name}}</p>

		<button
			color="primary"
			md-fab
			type="submit"
			[disabled]="!updateForm.form.valid"
			style="display: block"
		>
			<md-icon>save</md-icon>
		</button>
	</form>
</div>
