<div class="main-section">
  <md-card class="user-card" *ngFor="let user of appState.state.users">
    <md-card-header>
      <div
        md-card-avatar
        class="picture"
        [style.backgroundImage]="pictureUrl(user)"
      ></div>
      <md-card-title>{{user.name}}</md-card-title>
      <md-card-subtitle>{{user.email}}</md-card-subtitle>
    </md-card-header>
    <md-card-actions>
      <button color="warn" md-button (click)="openDeleteDialog(user.id)">Deletar</button>
    </md-card-actions>
    <div class="delete-confirm" *ngIf="userToClose === user.id" (click)="openDeleteDialog(user.id)">
      <em>Tem certeza?</em>
      <div class="close-actions-wrapper">
        <button md-button (click)="dismissDeleteConfirm()">Não</button>
        <button color="warn" md-button (click)="deleteUser()">Sim</button>
      </div>
    </div>
  </md-card>
</div>
<button color="primary" md-fab (click)="redirectToNew()">
  <md-icon>add</md-icon>
</button>
