@import '~styles/variables';

.container {
  top: 64px !important;
  width: 100%;
}

.sidenav-content {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.sidenav {
  background-color: $white;
  min-width: 200px;
  text-align: left;
}

.profile-area {
  background-color: $primary-color;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 15px;

  .picture-wrapper {
    align-items: center;
    display: flex;

    .picture {
      border-radius: 100%;
      height: 100px;
      margin-bottom: 15px;
      width: 100px;
    }
  }

  .user-name,
  .user-email {
    font-size: $font-size-small;
    font-weight: normal;
    letter-spacing: .7px;
  }

  .user-name {
    font-weight: 500;
    margin-bottom: 2px;
  }

  .user-email {
    color: $gainsboro;
  }
}

.user-menu {
  color: $white;
  user-select: none;
}

.icon-menu {
  cursor: pointer;
}

.organization-name {
  margin-left: 10px;
  margin-right: auto;
}

.progress-bar {
  left: 0;
  position: fixed !important;
  top: 0;
  z-index: 3;
}

.toolbar {
  height: 64px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
