.container {
    width: 100%;
    height: 100vh
}

.sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav {
    padding: 20px;
    width: 40%;
    background-color: white;
    text-align: left;
}

.icon-menu {
    cursor: pointer;
}

.top-menu {
    padding: 15px;
}

.button-menu {
    width: 100%;
}

.name-organization {
    width: 100%;
    text-align: center;
}