@import '~styles/variables';

.section {
  margin: 0 auto;
  max-width: 500px;
  padding: 10px;
  position: relative;

  h4 {
    color: $gray;
    font-weight: normal;
    letter-spacing: 0.5px;
    margin-bottom: 25px;
    margin-top: 10px;
  }

  &:not(:last-child) {
    border-bottom: solid 1px $whitesmoke;
  }

  md-input-container {
    margin-bottom: 15px;
  }
}

.full-width {
  width: 100%;
}

.picture {
  height: 100px;
  margin-bottom: 20px;
  width: 100px;
}
