<section class="profile section">
  <h4>Informações da conta</h4>
  <img class="picture" id="blauss" [src]="user.picture" />
  <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
    <md-input-container class="full-width">
      <input mdInput name="name" type="email" placeholder="Nome" [(ngModel)]="user.name" #name="ngModel" required>
      <md-error>Campo é obrigatório</md-error>
    </md-input-container>
    <md-input-container class="full-width">
      <input
        mdInput
        name="email"
        type="email"
        placeholder="Email"
        [(ngModel)]="user.email"
        #name="ngModel"
        required
        pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
      >
      <md-error>{{name.value && !name.valid ? 'Campo deve ser do tipo email' : 'Campo é obrigatório'}}</md-error>
    </md-input-container>
    <button
      md-raised-button
      color="primary"
      type="submit"
      [disabled]="!profileForm.form.valid"
    >
      Salvar
    </button>
  </form>
</section>
<section class="section">
  <h4>Alteração de senha</h4>
  <form (ngSubmit)="updatePassword(passwordForm)" #passwordForm="ngForm">
    <md-input-container class="full-width">
      <input
        mdInput
        name="currentPassword"
        type="password"
        placeholder="Senha atual"
        [(ngModel)]="password.currentPassword"
        #currentPassword="ngModel"
        required
      >
      <md-error>Campo é obrigatório</md-error>
    </md-input-container>
    <md-input-container class="full-width">
      <input
        mdInput
        name="password"
        type="password"
        placeholder="Nova senha"
        [(ngModel)]="password.password"
        #password="ngModel"
        required
        minlength="4"
      >
      <md-error>{{password.value && password.value.length < 4 ? 'Senha deve ter no mínimo 4 caracteres' : 'Campo é obrigatório'}}</md-error>
    </md-input-container>
    <md-input-container class="full-width">
      <input
        mdInput
        name="confirmPassword"
        type="password"
        placeholder="Confirmação da nova senha"
        [(ngModel)]="password.confirmPassword"
        #confirmPassword="ngModel"
        required
        minlength="4"
      >
      <md-error>{{confirmPassword.value && confirmPassword.value.length < 4 ? 'Confirmação de senha deve ter no mínimo 4 caracteres' : 'Campo é obrigatório'}}</md-error>
    </md-input-container>
    <button
      md-raised-button
      color="accent"
      type="submit"
      [disabled]="!passwordForm.form.valid"
    >
      Alterar senha
    </button>
  </form>
</section>