.name {
    text-align: center;
}

.footer {
    bottom: 30px;
    position: absolute;
    width: 100%;
    text-align:center;
}

.botton-footer {
    width: 50%;
}

.input {
    min-width: 50%;
}

.center-text {
    text-align: center;
}