html,
body {
  background-color: #fff;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

a.active {
  background-color: gray;
}

.content {
    padding-top: 70px;
}

.header {
    position: absolute;
    width: 100%;
    background-color: #aba7a7;
}

.full-width {
  width: 100%;
}

.mat-simple-snackbar {
  align-items: center;
  justify-content: space-between;
  line-height: 1 !important;
  width: 100%;
}

.mat-simple-snackbar-message {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: initial !important;
}

.mat-simple-snackbar-action {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.main-section {
  margin: 0 auto;
  max-width: 700px;
  padding: 20px 10px 20px;
  position: relative;
}

.mat-fab {
  position: fixed !important;
  right: 24px;
  bottom: 24px;
}

@media screen and (max-width: 768px) {
  .mat-fab {
    right: 16px;
    bottom: 16px;
  }
}

/* Remove transform from sidenav-content to make fixed elements relative to viewport again */
.mat-sidenav-content {
  transform: none !important;
}
