html,
body {
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
}

a.active {
  background-color: gray;
}

.content {
    padding-top: 70px;
}

.header {
    position: absolute;
    width: 100%;
    background-color: #aba7a7;
}

.mat-simple-snackbar {
  align-items: center;
  justify-content: space-between;
  line-height: 1 !important;
  width: 100%;
}

snack-bar-container {
  display: flex !important;
  align-items: center;
}

.mat-simple-snackbar-message {
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: initial !important;
}

.mat-simple-snackbar-action {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.main-section {
  margin: 0 auto;
  max-width: 700px;
  padding: 10px;
  position: relative;
}
