<header class="header"></header>

<section class="content">
	<div>
		<h2 x-large class="name">ONG Gcriva</h2>
	</div>
</section>

<footer class="footer">
	<md-grid-list cols="1" rowHeight="100px">
		<md-grid-tile>
			<button class="botton-footer" md-raised-button [routerLink]=" ['/about'] " type="button">Sobre</button>
		</md-grid-tile>
		<md-grid-tile>
			<button class="botton-footer" md-raised-button [routerLink]=" ['/login'] " type="button">Login</button>
		</md-grid-tile>
	</md-grid-list>
</footer>